:host{
    padding: 10px;

    .filter-bar{
        display: flex;
        padding: 10px;
        background-color: #f9f9f9;

        .filter-item{
            display: contents;
            align-items: center;

            input, select{
                padding: 5px;
            }
        }
    }
    pagination-controls{
        display: flex;
        padding-top: 10px;
    }

    table{
        width: 100%;
        border-spacing: 0 10px;
        table-layout: fixed;

        tbody{
            tr{
                background-color: rgb(247, 247, 247);

                &.background-even{
                    background-color: rgb(250, 250, 250);
                }
                transition: 0.5s;
                cursor: pointer;
                td{
                    img{
                        display: flex;
                    }
                }
            }

            tr:hover{
                transform: translateX(20px);
            }
        }
        
        th{
            padding: 0 5px;
        }

        .first_column{
            width: 3%;
            text-align: center;
        }

        .second_column{
            width: 100px;
            padding: 5px 5px 5px 0;

            img{
                width: 100px;
                border-radius: 10px;
                box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.4);
            }
        }

        .third_column{
            //height: 0;
            div{
                margin: 2px 0;
            }
        }
        
        .fourth_column{
            width: 10%;
            text-align: center;
        }
    }

}