<div>
    <div class="filter-bar">
        <div class="filter-item">
            <input [(ngModel)]="filterValue" type="text" placeholder="Search..."/>
            <select [(ngModel)]="filterType">
                <option value="album">Album</option>
                <option value="artist">Artist</option>
                <option value="category">Category</option>
            </select>
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th class="first_column"></th>
                <th class="second_column">Album</th>
                <th class="third_column"></th>
                <th class="fourth_column">Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let song of feed?.feed?.entry | filterarray : filterValue : filterType | paginate: {itemsPerPage: itemsPerPage, currentPage: currentPage }; let i = index"
            [class.background-even]="!isRowOdd(i)"
            (click)="viewSong(song)"
            highlight [isRowEven]="!isRowOdd(i)"
            >
                <td class="first_column">
                    {{getItemIndex(i, currentPage)}}
                </td>
                <td class="second_column">
                    <img [src]="song['im:image'][2]?.label">
                </td>
                <td class="third_column">
                    <div>
                        {{song['im:name']?.label}}
                    </div>
                    <div>
                        {{song['im:artist']?.label}}
                    </div>
                    <div>
                        {{song?.category?.attributes?.label}}
                    </div>
                </td>
                <td class="fourth_column">{{song['im:price']?.label}}</td>
            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
</div>