.app{
    height: 100%;
    font-family: chronicle ssm a,chronicle ssm b,Georgia,times new roman,Times,serif;
    width: 100%;
    display: table;
}

.title-holder{
    display: flex;
    height: 200px;

    .title{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0;
        background-color: #f9f9f9;
        border: 1px solid #ddd;

        .content{
            width: 1000px;
            height: 100%;
        }

        h1{
            font-size: 3.5556em;
            font-weight: 100;
            font-family: serif;
            display: flex;
            justify-content: center;
            margin: 35px 0;
        }
        
        p{
            padding: 0 240px;
            text-align: center;
        }
    }
}