<div class="app">
    <div class="title-holder">
      <div class="title">
        <div class="content">
          <h1>iTunes Charts</h1>
          <p>
            New content arrives on iTunes all the time. Here you can see what’s new this week and browse the top 100 albums
          </p>
        </div>
      </div>
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>