<div class="album-component" *ngIf="entry">
    <div class="album">
        <h3>{{entry?.title?.label}}</h3>
        <div class="property-image-holder">
            <img [src]="entry['im:image'][2]?.label">
            <a class="button-buy" [href]="entry?.id?.label">
                Buy
            </a>
        </div>
        <div class="property-group">
            <div class="property-row">
                <span class="property-name">Album</span>
                <span class="property-value">{{entry['im:name']?.label}}</span>
            </div>
            <div class="property-row">
                <span class="property-name">Artist</span>
                <span class="property-value">{{entry['im:artist']?.label}}</span>
            </div>
            <div class="property-row">
                <span class="property-name">Category</span>
                <span class="property-value">{{entry?.category?.attributes?.label}}</span>
            </div>
            <div class="property-row">
                <span class="property-name">Songs</span>
                <span class="property-value">{{entry['im:itemCount']?.label}}</span>
            </div>
        </div>
        <div class="property-row">
            <span class="property-name">Price</span>
            <span class="property-value">{{entry['im:price']?.label}}</span>
        </div>
        <div class="property-row">
            <span class="property-name">Release date</span>
            <span class="property-value">{{entry['im:releaseDate']?.attributes?.label}}</span>
        </div>
        <div class="property-row">
            <span class="property-name">Rights</span>
            <span class="property-value">{{entry.rights?.label}}</span>
        </div>
        <!-- <div class="property-row">
            <a class="button-buy" [href]="entry?.id?.label">
                Buy
            </a>
        </div> -->
    </div>
</div>