.album-component{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    .album{
        padding: 20px 10px 10px 10px;
        background-color: #f9f9f9;
        h3{
            margin: 0;
        }
        .property-image-holder{
            display: flex;
            padding: 20px 0;
            .button-buy{
                display: flex;
                height: 50px;
                width: 250px;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                color: white;
                background: #339FE6;
                margin-top: auto;
                margin-left: 10px;
            }
        }
        .property-group{
            margin-bottom: 80px;
            border-bottom: 1px solid #d2d2d2;
        }
        .property-row{
            display: flex;
            padding: 7px 10px;
            border-top: 1px solid #d2d2d2;
            .property-name{
                display: inline-block;
                width: 35%;
            }
            .property-value{
                display: inline-block;
                width: 65%;
            }
            // .button-buy{
            //     display: flex;
            //     height: 50px;
            //     width: 250px;
            //     justify-content: center;
            //     align-items: center;
            //     text-decoration: none;
            //     color: white;
            //     background: #339FE6;
            // }
        }
        //h3{
        //    padding: 0 15px 0 15px;
        //}
        // .property-group{
        //     padding: 0 0 10px 0;
        // }
        // .repeated-item{
        //     margin-bottom: 10px;
        // }
        // .album-section{
        //     display: flex;
        //     padding: 0 0 30px 0;
        // }
    }
    // .album-holder{
    //     padding: 10px;
    //     min-width: 60%;
    //     .album{
    //         padding: 10px;
    //         background-color: #f9f9f9;
    //         //h3{
    //         //    padding: 0 15px 0 15px;
    //         //}
    //         .property-group{
    //             padding: 0 0 10px 0;
    //         }
    //         .repeated-item{
    //             margin-bottom: 10px;
    //         }
    //         .album-section{
    //             display: flex;
    //             padding: 0 0 30px 0;
    //         }
    //     }
    // }
}